@model List<LMS.Model.Models.BookDetail>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center align-items-center h-100 position-relative">
    <h1 class="display-4">Welcome</h1>
</div>
